body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af5b4c;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.about, .skills, .contact {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

h2 {
    color: #af5b4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f57474;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #af5b4c;
    color: white;
    text-align: center;
    padding: 0.05px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
